
<mat-card>
  <h2>Our team members</h2>
  <mat-table #table [dataSource]="members">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Naam">
      <mat-header-cell *matHeaderCellDef> Naam </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Naam}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Voornaam">
      <mat-header-cell *matHeaderCellDef> Voornaam </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Voornaam}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Team">
      <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Team}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Afbeelding">
      <mat-header-cell *matHeaderCellDef> Afbeelding </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img style="width: 30px;" src="../assets/demo/{{element.Afbeelding}}.png"/> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>
